.experience {
  padding: 2em 0em;
  .card {
    margin: 1em;
    .card-text {
      h3 {
        font-weight: 600;
      }
      h5 {
        font-weight: 200;
      }
      p {
        font-size: 0.85em;
      }
    }
    .list {
      ul {
        margin-left: 1em;
        list-style-type: disc;
      }
    }

    ul.stack-tags {
      padding: 0;
      display: inline-flex;
      flex-wrap: wrap;
      list-style: none;

      li {
        margin-right: 10px;
      }
    }
    .links {
      font-size: 1.5em;
    }
  }

  .card-title {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .card-container {
    max-width: 60em;
    margin: auto;
    margin-bottom: 3em;

    .logo {
      max-width: 100px;
      max-height: 100px;
    }
    hr.line-break {
      margin-top: 3em;
    }
  }
}
