.experience {
  padding: 2em 0em;
  .card-title {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .card-container {
    max-width: 60em;
    // margin: 2em 0;
    margin: auto;
    // margin-top: 3em;
    margin-bottom: 3em;

    .logo {
      max-width: 100px;
      max-height: 100px;
    }
    hr.line-break {
      margin-top: 3em;
      // border: 1px solid black;
    }
  }
}
