.portfolio {
  padding: 2em 0em;
  .card {
    margin: 1em;
    .list {
      ul {
        margin-left: 1em;
        list-style-type: disc;
      }
    }

    ul.stack-tags {
      padding: 0;
      display: inline-flex;
      list-style: none;

      li {
        margin-right: 10px;
      }
    }
  }
}
